.hero-container {
  background-image: url("../../../public/images/hero-fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
}

.pre-title{
  font-size:22px;
  margin-bottom: -10px
}

.main-title{
  color: #319bcd;
  font-size:70px;
  font-family: 'Secular One', sans-serif;
  animation-delay: 1000ms;
}

.hero-image{
  padding-top: 100px;
  width:70vw;
  max-width: 800px;
  animation-delay: 2000ms;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
} 

.input-container{
  padding-top:60px
}

.box-container{
  animation-delay: 2000ms;
}

.images-container{
  padding-top: 0px;
}

.afraid-text{
  font-size: 20px
}

.breed-input{
  width: 70%; 
  max-width: 400px;
}

@media screen and (max-width: 900px) {
  
  .hero-container {
    padding-top: 0px;
  }

  .hero-image{
    padding-top: 30px;
  }

  .pre-title{
    font-size:18px;
  }

  .main-title{
    font-size:50px;
  }

  .input-container{
    padding-top:30px
  }
}