.hero-container {
  background-image: url("../../../public/images/hero-fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
}

.pre-title{
  font-size:22px;
  margin-bottom: -10px
}

.main-title{
  color: #319bcd;
  font-size:70px;
  font-family: 'Secular One', sans-serif;
}

.hero-image{
  padding-top: 100px;
  width:70vw;
  max-width: 800px;
}

.input-container{
  padding-top:60px
}

.images-container{
  padding-top: 0px
}

.afraid-text{
  font-size: 20px
}

.breed-input{
  width: 70%; 
  max-width: 400px;
}

@media screen and (max-width: 900px) {
  
  .hero-container {
    padding-top: 0px;
  }

  .hero-image{
    padding-top: 30px;
  }

  .pre-title{
    font-size:18px;
  }

  .main-title{
    font-size:50px;
  }

  .input-container{
    padding-top:30px
  }
}